.u-section-1 {
  background-image: none;
  min-height: 86px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 85px;
  background-image: none;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 35px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 17px auto 0 114px;
  padding: 7px 27px 9px 25px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: -52px auto 0 277px;
  padding: 7px 26px 9px 25px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -52px auto 0 455px;
  padding: 7px 26px 9px 25px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: -52px 300px 0 auto;
  padding: 7px 26px 9px 25px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: -52px 123px 0 auto;
  padding: 7px 26px 9px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1482px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 70px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 77px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 255px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 100px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 44px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 971px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 857px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 862px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 56px 27px 0 auto;
}

.u-section-2 .u-list-1 {
  width: 1009px;
  grid-template-rows: repeat(3, auto);
  margin: 60px 32px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 588px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 76px auto 0 144px;
}

.u-section-2 .u-icon-1 {
  height: 99px;
  width: 99px;
  color: rgb(255, 255, 255) !important;
  margin: -68px auto 0 7px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -101px 632px 0 137px;
}

.u-section-2 .u-icon-2 {
  width: 31px;
  height: 31px;
  margin: 47px auto 0 123px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -24px auto 0 164px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: -91px 148px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: -33px auto 0 220px;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-5 {
  margin: 76px auto 0 144px;
}

.u-section-2 .u-icon-3 {
  height: 99px;
  width: 99px;
  color: rgb(255, 255, 255) !important;
  margin: -68px auto 0 7px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -101px 632px 0 137px;
}

.u-section-2 .u-icon-4 {
  width: 31px;
  height: 31px;
  margin: 47px auto 0 123px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: -24px auto 0 164px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: -91px 148px 0 auto;
}

.u-section-2 .u-text-8 {
  margin: -33px auto 0 220px;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-9 {
  margin: 76px auto 0 144px;
}

.u-section-2 .u-icon-5 {
  height: 99px;
  width: 99px;
  color: rgb(255, 255, 255) !important;
  margin: -68px auto 0 7px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: -101px 632px 0 137px;
}

.u-section-2 .u-icon-6 {
  width: 31px;
  height: 31px;
  margin: 47px auto 0 123px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: -24px auto 0 164px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: -91px 148px 0 auto;
}

.u-section-2 .u-text-12 {
  margin: -33px auto 0 220px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 597px;
    margin-left: 103px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 79px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -27px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 597px;
    margin-left: 103px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 79px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 597px;
    margin-left: 103px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 173px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 340px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 173px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 340px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 89px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 101px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 89px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 140px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 101px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 89px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 140px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 101px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 106px;
  }
}