.u-section-1 {
  background-image: none;
  min-height: 912px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 906px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 62px;
}

.u-section-1 .u-icon-1 {
  width: 90px;
  height: 90px;
  margin: 48px 103px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 90px;
  height: 90px;
  margin: 25px 7px 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 90px;
  height: 90px;
  margin: 30px 103px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 90px;
  height: 90px;
  margin: 9px 7px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 90px;
  height: 90px;
  margin: 30px 103px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 90px;
  height: 90px;
  background-image: none;
  margin: 36px 7px 0 auto;
}

.u-section-1 .u-icon-7 {
  width: 90px;
  height: 90px;
  margin: -13px 103px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 906px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 34px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 183px 36px 0 12px;
}

.u-section-1 .u-text-2 {
  margin: 48px 36px 0 12px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 111px auto 0 66px;
  padding: 20px 48px 20px 47px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: -66px 134px 0 auto;
  padding: 20px 48px 20px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 79px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 79px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 79px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 79px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 747px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1167px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 953px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 498px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  min-height: 906px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 906px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 37px 62px 50px;
}

.u-section-2 .u-icon-1 {
  width: 90px;
  height: 90px;
  margin: 60px 103px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 90px;
  height: 90px;
  margin: 25px 7px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 90px;
  height: 90px;
  margin: 30px 103px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 90px;
  height: 90px;
  margin: 9px 7px 0 auto;
}

.u-section-2 .u-icon-5 {
  width: 90px;
  height: 90px;
  margin: 30px 103px 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 90px;
  height: 90px;
  margin: 36px 7px 0 auto;
}

.u-section-2 .u-icon-7 {
  width: 90px;
  height: 90px;
  margin: -13px 103px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 906px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 78px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 130px 12px 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  text-decoration: none solid rgb(128, 128, 128);
  margin: 13px 12px 0;
}

.u-section-2 .u-form-1 {
  height: 556px;
  margin: 17px 24px 0 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-label-4 {
  font-weight: 700;
}

.u-section-2 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-weight: 700;
}

.u-section-2 .u-input-5 {
  font-size: 1.25rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  width: 100%;
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 747px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 79px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 79px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 79px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 79px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 747px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 572px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1053px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 953px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 700px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}